
<form class="search" action = "/search-field" method = "GET">
<center>
  <label> New Restaurant: </label> <br> <br>
  <input type = "text" name = "searchTerm">
  <input type ="submit" name = "submit">
</center>
</form>
