<center>

<h2> Sign Up Here </h2>


<br>
<br>
<form id = "signup"  action = "/after-signup" method = "Post">
  <label> Username: </label>
  <input type = "text" name = "username">

  <br>
  <label> E-mail: </label>
  <input type = "text" name = "email" >


  <br>
  <label> Password: </label>
  <input type = "password" name = "password">
  <br>

  <input type ="submit" name = "submit">


</form>

</center>
